body {
 margin: 0;
 background-color: burlywood;
 font-size: 1.5rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

body > h2 {
    text-align: left;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
    padding: 0 0 0 4rem;
}

body > h2 span {
    font-size: 1rem;
}

#status-message {
    height: 2rem;
}

#calculation-box {
    border: .1rem solid black;
    border-radius: .5rem;
    background-color: white;
    height: 4rem;
    width: auto;
    margin: 0 1rem;
    vertical-align: bottom;
}

#calculator-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0;
    width: 50%;
    margin: 0;
    padding: 2% 20%;
}


button {
    font-size: 4rem;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: .5rem;
}

#clear-history-button {
    grid-column: 1/3;
    grid-row: 1/2;
    width: auto;
    font-size: 2rem;
}

#all-clear {
    grid-column: 3/5;
    grid-row: 1/2;
    width: auto;
}

#number-7,
#number-8,
#number-9,
#divide-operator {
    grid-row: 2/3;
}
#number-4,
#number-5,
#number-6,
#multiply-operator {
    grid-row: 3/4;
}
#number-1,
#number-2,
#number-3,
#subtract-operator {
    grid-row: 4/5;
}
#number-0,
#decimal-point,
#equals-sign,
#add-operator {
    grid-row: 5/6;
}

#result-section {
    margin: 0;
    padding: 1rem;
}


#result-section h2 {
    font-size: 1.5rem;
    margin: 0 20%;
}

#recent-result {
    border: .1rem solid black;
    border-radius: .5rem;
    height: 4rem;
    width: fit-content;
    min-width:  30rem;
    margin: 0 20%;
    font-size: 4rem;
    padding: .1rem 0 .5rem 0;
    background-color: white;
    text-align: center;
}

#history-section {
    border-top: .1rem solid black;
    font-size: 1.5rem;
    padding-left: 2rem;
}

li button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
}


button:hover {
    background-color: rgb(176, 172, 172);
}

#calculation-box.highlight-box {
    border: .2rem solid red;
}
